@model ServiceType

<p><h5>Тарифы</h5></p>

<a asp-controller="Tariffs" asp-action="Create" asp-route-serviceTypeId="@Model.Id"><img src="/images/New16.png"/> Добавить</a>

<table class="table">
    <tr>
        <td><b>Значение</b></td>
        <td><b>Дата начала</b></td>
        <td><b>Дата окончания</b></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var tariff in Model.Tariffs)
    {
        <tr>
            <td>@Html.DisplayFor(m => tariff.Value)</td>
            <td>@Html.DisplayFor(m => tariff.StartDate)</td>
            <td>@Html.DisplayFor(m => tariff.FinishDate)</td>
            <td>
                <a asp-controller="Tariffs" asp-action="Edit" asp-route-id="@tariff.Id" asp-route-serviceTypeId="@Model.Id" title="Редактировать">
                    <img src="/images/Edit16.png"/>
                </a>
            </td>
            <td>
                <a asp-controller="Tariffs" asp-action="Delete" asp-route-id="@tariff.Id" asp-route-serviceTypeId="@Model.Id" title="Удалить">
                    <img src="/images/Delete16.png"/>
                </a>
            </td>
        </tr>
    }
</table>